<h2 id="heading" style="font-family: 'Times New Roman', Times, serif;">
    <u>Contact</u></h2><br>
<div class="container">
    <div class="row">
        <div class="card card-block col-md-6 ml-auto mr-auto " style="border: 3px solid rgba(0, 0, 0, 0.253);">
            <h4 class="card-title text-right "><i class="material-icons ">contact_phone</i></h4>
            <img src="../../assets/contact_us.jpg " alt="Photo of sunset ">
            <br/>
            <p class="card-text "><b>Github : </b><a href="https://github.com/NEC-Hackathon-Food-Antouse">Veggie Hive on Github</a></p>
            <p class="card-text "><b>Hackathon : </b><a href="https://www.hackerearth.com/challenges/hackathon/nec-hackathon-food/">NEC Hackathon</a></p>
        </div>
    </div>
</div>



<!-- <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="../../assets/contact_us.jpg " alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
        </div>
    </div>
</div> -->