<body>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

        <mat-card class="box" id="loginForm">
            <mat-card-header>
                <mat-card-title>Log in</mat-card-title>
            </mat-card-header>

            <form class="example-form" #loginForm="ngForm">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" name="email" ngModel #email="ngModel" pattern='^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$' required>
                        <div *ngIf='email.touched && email.invalid' class="alert alert-danger">
                            <p *ngIf='email.errors.minlength'>minimum length is 4 characters</p>
                            <p *ngIf='email.errors.required'>username is required</p>
                            <p *ngIf='email.errors.pattern'>this takes an email</p>
                        </div>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="Password" name="password" ngModel #password="ngModel" [type]="hide ? 'password' : 'text'" required minlength="4">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <div *ngIf='password.touched && password.invalid' class="alert alert-danger">
                            <p *ngIf='password.errors.minlength'>minimum length is 4 characters</p>
                            <p *ngIf='password.errors.required'>password is required</p>
                        </div>
                    </mat-form-field>
                </mat-card-content>
                <button id="loginButton" mat-stroked-button color="accent" class="btn-block" [disabled]="loginForm.invalid" (click)="login(loginForm)">Log in</button><br><br>
                <p>New to veggie Hive? <a href="/register">Register</a> </p>
            </form>
        </mat-card>

    </div>
</body>