.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1cc142;
    color: white;
    text-align: center;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #1cc142;
    font-family: 'Times New Roman', Times, serif;
}