.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslateblue;
    /* 4d36b4 */
    text-align: center;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: darkslateblue;
    /* background-color: #6d7fcc; */
    font-family: 'Times New Roman', Times, serif;
}

.sidenav {
    position: absolute;
}

.router {
    position: absolute;
}