<!-- <div class="container"> -->

<!-- <div id="home" class="col-md-12 header">
    <app-hive-home></app-hive-home>
</div>
<div class="col-md-12">
    <router-outlet></router-outlet>
</div>
<div id="vizContainer" class="col-md-12 footer">
    <p>Footer</p>
</div> -->
<!-- </div> -->


<div class="header">
    <app-hive-home></app-hive-home>
</div>
<!-- <div class="sidenav">
    <app-sidenav></app-sidenav>
</div> -->
<div>
    <router-outlet></router-outlet>
</div>
<!-- <div class="footer">
    <p style="color:rgb(238, 229, 229)"> &copy; 2019 Developed by Team Veggie Hive</p>
</div> -->