<h2 id="heading" style="font-family: 'Times New Roman', Times, serif;">

    My Account</h2><br>
<!-- <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="../../assets/user_image1.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
            <h6 class="card-category text-gray"><b>Full Name:</b> {{userName}}</h6>
            <h6 class="card-title"><b>Email  :</b> {{userId}}
            </h6>
            <h6 class="card-description">
                <b>Slots Booked &nbsp; : </b>{{slotId}}
            </h6>
            <h6 *ngIf="slotId">Click on Dashboard to view / analyse Reports</h6>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="card card-block col-md-6 ml-auto mr-auto " style="border: 3px solid rgba(0, 0, 0, 0.253);">
            <h4 class="card-title text-right "><i class="material-icons "></i></h4>
            <img src="../../assets/user_image_2.png" alt="Photo of sunset ">
            <div id="text" class=card-body>
                <h6 class="card-category text-gray"><b>Full Name:</b> {{userName}}</h6>
                <h6 class="card-title"><b>Email  :</b> {{userId}}
                </h6>
                <h6 class="card-description">
                    <b>Slots Booked &nbsp; : </b>{{slotId}}
                </h6>
                <h6 *ngIf="slotId">Click on Dashboard to view / analyse Reports</h6>
            </div>
        </div>
    </div>
</div>