<div class="homeBody">
    <div class="container">
        <div class="row">
            <div id="about" class="card card-block col-md-9 ml-auto mr-auto " style="border: 3px solid rgba(0, 0, 0, 0.253);">
                <div class="col-md-12">
                    <h2>About Veggie Hive</h2><br>
                    <h4 style="font: 400 15px Lato, sans-serif;line-height: 1.8;color: #444040;">There are many food storage mistakes that can increase food waste and food safety risks. Consider the below Three tips to reduce leaks, cross-contamination, freezer burn, accelerated spoilage, and more.</h4>
                    <p style="font: 400 15px Lato, sans-serif;line-height: 1.8;color: #444040;"><b>1. </b>Handle food safely. Food cannot be above 41 degrees Fahrenheit for more than 4 hours total, so thawing and prepping should be completed within this window of time. To properly thaw freezer food, it can be transferred to the
                        refrigerator or put under running water that is below 70 degrees. Food that is cooked should be cooled to 70 degrees within 2 hours and cooled to 38 degrees (refrigeration temperature) within 6 hours. It’s best to label food items
                        with the type of food, the date it was prepared, and a use by date if it is to be stored and consumed after 24 hours.</p>
                    <p style="font: 400 15px Lato, sans-serif;line-height: 1.8;color: #444040;"><b>2. </b>Arrange food properly. Prepared foods, such as deli salads, pre-sliced ready-to-eat items, and cakes, should be stored at the top of the refrigerator, followed from top to bottom by raw produce, raw seafood, raw red meat,
                        raw ground meat, and then raw poultry. Separating foods in this manner reduces the risk of raw meat leaking onto and contaminating other food products. </p>
                    <p style="font: 400 15px Lato, sans-serif;line-height: 1.8;color: #444040;"><b>3. </b>Pay attention to food storage temperatures. If food is not stored at the proper temperature, it can spoil faster and be unsafe to consume. Perishable food should be kept at or below 41 degrees Fahrenheit in the refrigerator
                        and at or below -4 degrees Fahrenheit in the freezer. If food was purchased from a refrigerated section, it should not be stored outside of the refrigerator. It’s also best to pay attention to labels of food purchased outside of
                        refrigerated areas, as they may need to be stored in the refrigerator after being opened.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <img src="../../assets/mission-vision-values.png" width="80%">
        </div>
        <div class="col-sm-8" style="font-family: 'Times New Roman', Times, serif;">
            <h2>Our Values</h2><br>
            <h4><strong>MISSION:</strong> <br>● Provide a smart storage solution using Iot(Internet of Things) for storing the perishable food products.<br> ● Monitor and analyze the storage environment using camera and environmental sensors and publish the
                data to cloud for further processing.<br> ● Process the collected data on cloud and provide analysis reports to customer via web app. <br> ● Provide notification to customers on status of their food store.

            </h4><br>
            <p><strong>VISION:</strong> <br>● A Shared Food Storage Facility where storage slots/rooms shared among the customers, and also make the service affordable.<br> ● Target Customers : <br> ○ Farmers. <br>○ Suppliers. <br>○ Retailers. <br>○ Restaurateurs.
                <br>● Features :<br> ○ Provide interface for customers to book slots/rooms for their food products via web app.<br> ○ Provide interface for customers to analyze their food products and environment via web app. <br>○ Provide necessary insights
                and predictions about health of food products and suggest necessary actions.</p>
        </div>
    </div>
</div>